*{
    box-sizing: border-box;
}
body{
    position: relative;
}
header{
    position: relative;
    height:100vh ;
}
.description{
    opacity: 0;
    transform: translateX(10px);
    animation:appearing 1s ease-in forwards;
}

.overlay{
position: absolute;
    left: 0;
    top: 0;
    background-image: url("../img/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -1;
    opacity: .3;
    min-height: 100%;
    min-width: 100%;
}
.navbar{
    background-color: #4be3b0;
}
.nav-link, .navbar-brand{
    color: #f4f4f4;
}
.nav-link:hover{
    background-color: #f4f4f4;
    color: #4be3b0;
}
/*team start*/
.team, .team-item{
    position: relative;
}
.team-des{
    background-color: #4be3b0;
    color: #f4f4f4;
    text-align: center;
    position: absolute;
    bottom: 24px;
    width: 90%;
    border-top-right-radius: 93%;
    transition: .3s ease-in-out;
}
.team-item:hover .team-des{
    height: 100%;
    background-color: rgba(174,224,207, .41);
    padding: 5rem;
    top: 0;
    border-top-right-radius: 0;
}
.about-title{
    overflow: hidden;
    position: relative;
    border-right: 2px solid green;
    margin: auto;
    white-space: nowrap;
}
.about-animation{
    animation: textTyping 2s steps(22) 2s 1 normal  both,
    blinkTextCursor 500ms steps(44) infinite  normal;
}
.about__text{
    position: relative;
}
.about__text:before{
    position: absolute;
    content: '';
    height: 0;
    width: 0;
    border: 2px solid transparent;
    bottom: 0;
    left: 0;
}
.about__text:after{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 0;
    width: 0;
    border: 2px solid transparent;
}
.about__text:hover:before{
    width: 100%;
    height: 100%;
    border: 5px inset #4be3b0;
    border-bottom: none;
    border-right: none;
    transition:  height 1s linear,width 1s linear 1s ;
}
.about__text:hover:after{
    width:100%;
    height: 100%;
    border: 5px inset #4be3b0;
    border-top: none;
    border-left: none;
    transition: height 1s linear ,width 1s linear 1s ;
}
.img{
    position: relative;
}
.connect{
    background-color: aquamarine;
    width: 68.5%;
    height: 44%;
    position: absolute;
    top: 30%;
    left: 16%;
    color: #93a3b1;
    opacity: 0;
    transition: opacity 250ms;
}
.connect>*{
    text-align: center;
}
.connect{
    transform: translateY(15px);
    transition: transform 250ms;
}
.img:hover>.connect{
   opacity: .9;
}
.img:hover>.connect{
    transform: translateY(0);
}
.img-element{
    transition: 500ms ;
}
.img-element:hover{
    transform: scale(.8);
}
@keyframes appearing {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@keyframes textTyping {
    from{
        width: 0;
    }
   to {
       width: 17%;
   }
}
@keyframes blinkTextCursor{
    from{border-right-color: green;}
    to{border-right-color: transparent;
    }
}

